@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;0,900;1,200;1,300;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    line-height: 1.6;
}
h1{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin: 40px 0 60px 0;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
#serch-input{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgb(0, 0, 0.2);
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}
#serch-button{
    padding: 10px 20px;
    background-color: aqua;
    color: #fff;
    border: none;
    font-size: 18px;
    box-shadow: 0 0 6px rgb(0, 0, 0.2);
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}
.serch-results{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.serch-result{
    box-shadow: 0 0 6px rgb(0, 0, 0.2);
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;

}
.serch-result img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opecity 0.2s ease-in-out  ;
}
.serch-result:hover img
{
    opacity: 0.8;
}
.serch-result {
    font-size: 20px;
    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-transform: uppercase;
}
#showMore{
    background-color: #008cba;
    font-size: 18px;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 30px  auto;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
@media screen  and(max-width:768px) {
    .serch-results{
        padding: 20px;
    }
    .serch-result{
        width: 45%;
    }
    
}
@media screen  and(max-width:480px) {
    .serch-result{
        width: 100%;
    }
    
}
